# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

Options -Indexes

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

RewriteEngine on
RewriteRule ^inicio$    /index.php [L]
RewriteRule ^inicio$ https://furman.000webhostapp.com/prueba/index1.php [L]
RewriteRule ^enero$      /mes/enero.php [L]
RewriteRule ^febrero$  /mes/febrero.php [L]
